.profile-section {
  flex-grow: 1;
  margin-top: 7.5rem;
}

.profile-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 0 0 4px 0px var(--dark-gray-color);
  max-width: 25rem;
}

.profile-section .profile-header {
  margin: 1rem 1.2rem;
}

.profile-section .profile-body {
  display: flex;
  gap: 2rem;
  margin: 1rem 1.2rem;
  padding: 1rem;
}

.profile-body .profile-item {
  display: flex;
  gap: 1rem;
}

.profile-body .avatar {
  width: 3.5rem;
  height: 3.5rem;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logout-btn {
  align-self: center;
  width: 10rem;
  margin: 1rem;
}
