.header {
  height: 4.5rem;
  width: 100%;
  background-color: var(--primary-color);
  padding: 1rem;
  position: fixed;
  inset: 0;
  z-index: 5;
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header .navbar .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.navbar .navbar-brand .navbar-brand-logo {
  width: 2.5rem;
}

.header .navbar .search-container {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  flex-basis: 25rem;
  padding: 2px 4px;
  background: #fff;
}

.header .navbar .search-container:focus-within {
  border-width: 2px;
}

.header .navbar .search-container .search-bar {
  border: none;
  outline: none;
  background: none;
}

.shop-now-btn {
  border-radius: 5px;
  color: var(--white-color);
  background-color: var(--black-color);
  padding: 8px 10px;
}
.nav-item:hover {
  transform: none;
}

.header .navbar .nav-list .nav-item {
  padding: 12px 9px;
  font-size: 1.2rem;
}

.badge-wrapper {
  margin-right: 10px;
}

.badge-count {
  top: -13px;
  background-color: var(--white-color);
  padding: 9px;
}
