.header {
  height: 4.5rem;
  width: 100%;
  background-color: var(--primary-color);
  padding: 1rem;
  position: fixed;
  inset: 0;
  z-index: 5;
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 10rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header .navbar .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.navbar .navbar-brand .navbar-brand-logo {
  width: 2.5rem;
}

.shop-now-btn {
  border-radius: 5px;
  color: var(--white-color);
  background-color: var(--black-color);
  padding: 8px 10px;
}
.nav-item:hover {
  transform: none;
}

.header .navbar .nav-list .nav-item {
  padding: 12px 9px;
  font-size: 1.5rem;
}

.badge-wrapper {
  margin-right: 10px;
}

.badge-count {
  top: -13px;
  background-color: var(--white-color);
  padding: 10px;
  font-size: 1rem;
}

.nav-list .spaced-list {
  align-items: center;
}
